body { 
  max-width: 80ex;
  margin: 4em auto;
  font-size: 1.125em;
  line-height: 1.6;
  color: rgb(34, 34, 34);
  background-color: rgb(255, 255, 255);
}

h1, h2, h3 {
  line-height: 1.2
}

a {
  color: rgb(66, 139, 202);
  text-decoration: none;
  transition-property: color, text-decoration;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

a:hover {
  color: rgb(42, 100, 150);
  text-decoration: underline;
}
